.mystory{
    padding: 2rem 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    &__title{
        margin-bottom: 1.5rem;
    }

    &__active{
        color: rgb(0, 153, 255);
    }

    &__text{
        text-align: justify;
    }
}

@media (max-width: 850px){
    .mystory{
        width: 90%;
    }
}