@use "../../Sass/mixin" as *;

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.103);
    z-index: 100;

    &__container{
        width: 100%;
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7rem;
        color: black;
        background-color: white;
    }

    &__btn{
        display: none;
    }

    &__logo{
        color: inherit;
        font-size: 1.5rem;
        padding: 1rem 0;
        font-family: 'Silkscreen', sans-serif;
    }

    &__logo span{
        color: rgb(0, 153, 255);
    }

    &__ul{
        display: flex;
        gap: 2rem;
        padding: 1rem 0;
    }

    &__a{
        color: inherit;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
    }

    &__li{
        transition: 0.4s;
    }

    &__li:hover .nav__a{
        color: rgb(0, 153, 255);;
        border-bottom: 1px solid rgba(0, 47, 255, 0.288);
    }

    &__li:hover{
        transform: translateY(-5px);
    }
    
}

.sidebar, .sidebar-show {
    display: none;
}

//------------------------------------------------------------------------------------

@media (max-width: 850px){
    .nav{

        &__container{
            padding: 0 4rem;
        }

        &__ul{
            display: none;
        }

        &__btn{
            display: block;
            height: 100%;
            
            &--icon{
                width: 1.8rem;
                height: 1.8rem;
                margin-top: 5px;
            }
        }
    }

    //

    .sidebar{
        display: block;
        position: fixed;
        width: 18rem;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(19, 15, 15);
        color: white;
        padding: 1rem;
        transition: 1s;
        margin-left: -100%;
        z-index: 100;
    
        &__logo{
            color: inherit;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    
        &__ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            margin-top: 1.5rem;
            margin-left: 2rem;
        }
    
        &__a{
            color: inherit;
            font-size: 1.2rem;
        }
    }
    
    .sidebar-show{
        display: block;
        position: fixed;
        width: 18rem;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(19, 15, 15);
        color: white;
        padding: 1rem;
        transition: 1s;
        margin-left: 0;
        z-index: 100;
    
        &__logo{
            color: inherit;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    
        &__ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            margin-top: 1.5rem;
            margin-left: 2rem;
        }
    
        &__a{
            color: inherit;
            font-size: 1.2rem;
        }
    }

    .sidebar__btn{
        display: block;
        height: 100%;
        margin-left: 13rem;
        
        &--icon{
            width: 1.8rem;
            height: 1.8rem;
            margin-top: 5px;
            color: white;
        }
    }
}